NEXT_PUBLIC_SITE_URL=http://localhost:3000
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SIMPLYRETS_API_KEY=
SIMPLYRETS_API_SECRET=
SIMPLYRETS_VENDOR=
AXESSO_API_KEY=
GOOGLE_MAPS_API_KEY=
GOOGLE_MAPS_COMMUTE_ANCHORS=Amazon Bellevue Office|410 Terry Ave N Seattle WA;Microsoft Redmond Campus|1 Microsoft Way Redmond WA
ADMIN_API_TOKEN=
VERCEL_PROJECT_ID=
VERCEL_ORG_ID=

